- name: Install tmux and dependencies
  apt:
    name:
      - tmux
      - xclip
    state: present

- name: Remove existing tmux stow
  command:
    cmd: stow -D tmux
    chdir: "{{ dotfiles_path }}"
  become_user: "{{ ansible_user }}"



- name: Check if Meslo fonts already exist
  find:
    paths: /usr/share/fonts/opentype/Meslo
    patterns: "*.ttf"
    recurse: no
  register: meslo_fonts

- name: Include nerd_fonts tasks only if not installed
  include_tasks: nerd_fonts.yml
  when: meslo_fonts.matched == 0



- name: Create tmux plugins directory
  file:
    path: "{{ user_home_path }}/.tmux/plugins"
    state: directory
  become_user: "{{ ansible_user }}"

- name: Install tmux plugin manager (tpm)
  git:
    repo: https://github.com/tmux-plugins/tpm.git
    dest: "{{ user_home_path }}/.tmux/plugins/tpm"
  become_user: "{{ ansible_user }}"
  register: tpm_install

- name: Create ~/.config/tmux directory
  file:
    path: "{{ user_home_path }}/.config/tmux"
    state: directory
  become_user: "{{ ansible_user }}"

- name: Apply tmux stow
  command:
    cmd: stow tmux
    chdir: "{{ dotfiles_path }}"
  become_user: "{{ ansible_user }}"

# Don't know why sometimes it returns error code 1 even if everything is fine
- name: Source tmux plugins
  shell: "{{ user_home_path }}/.tmux/plugins/tpm/scripts/source_plugins.sh 2>/dev/null || true"
  become_user: "{{ ansible_user }}"
  ignore_errors: yes

- name: Install tmux plugins
  shell: "{{ user_home_path }}/.tmux/plugins/tpm/scripts/install_plugins.sh"
  become_user: "{{ ansible_user }}"

- name: Source tmux configuration
  shell: 'tmux source "{{ user_home_path }}/.config/tmux/tmux.conf" 2>/dev/null || true'
  become_user: "{{ ansible_user }}"


